.container {
    width: 100vw;
    height: 100vh;
    background-image: url(images/back1.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: absolute;
}

.logo {
    position: relative;
    width: 25vw;
    height: auto;
    padding: 20px;
    cursor: pointer;
    right: -65vw;
}


@media (min-width: 65px) and (max-height:400px) {
    .logo {
        right: -65vw;
        top: 106px;
    }
}


@media (max-width: 500px) {
    .logo {
        width: 46vw;
        right: -45vw;
        top: 16px;
    }
}

.content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
    padding-right: 17px;
}

@media (max-width: 500px) and (max-height:700px) {
    .content {
        top: 45%;
    }
}

@media (max-width: 500px) and (max-height:860px) {
    .content {
        top: 37%;
    }
}

@media (max-width: 500px) {
    .content {
        top: 40%;
    }
}

.content p {
    font-size: 16px;
    margin-bottom: 27px;
}

@media (max-width: 380px) and (max-height:670px) {
    .content p {
        position: relative;
        top: 20px;
    }
}

@media (max-width: 500px) {
    .content p {
        font-size: 15px;
    }
}

.content h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
}

@media (max-width: 500px) {
    .content h1 {
        position: relative;
        top: 30px;
    }
}

.content h1 span {
    color: #ff3753;
}

.content button {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .content button {
        position: relative;
        top: 50px;
    }
}

.content button img {
    width: 15px;
    margin-left: 10px;
}

.launch-time {
    display: flex;
}

@media (max-width: 500px) {
    .launch-time {
        position: relative;
        top: 40px;
    }
}

.launch-time div {
    flex-basis: 140px;
}

.launch-time div p {
    font-size: 30px;
    margin-bottom: 6px;
}

.rocket {
    width: 100px;
    position: absolute;
    right: 10%;
    bottom: 10%;
    animation: rotation 4s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #fff;
    padding: 3px;
    text-align: center;
}

@media (max-width: 500px) {
    .footer {
        position: absolute;
        bottom: 25px;
    }
}

.footer {
    display: flex;
    align-items: center;
}

#date {
    font-size: 25px;
}